{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" href="{% static 'recibido.css' %}">
</head>
<body>


    <header>
        <div class="encabezado">
            
            <nav class="nav-enlaces">
                
                <a href="{% url 'inicio' %}" class="enlaces">Home</a>
                <a href="{% url 'addPaciente' %}" class="enlaces">Perfil</a>
                
            </nav>
            <h1 class="titulo">MedUnity</h1>
        </div>
    </header>
    <h1>Mensajes Recibidos</h1>

    <div id="mensajes">
        {% for mensaje in mensajes %}
            <div class="mensaje">
                <strong>{{ mensaje.remitente.username }}:</strong> {{ mensaje.contenido }}
                <span class="fecha">{{ mensaje.fecha_envio }}</span>
            </div>
        {% endfor %}
    </div>
</body>
</html>
